NEXT_PUBLIC_API_URL=http://127.0.0.1:5000/api
NEXT_PUBLIC_WS_URL=http://127.0.0.1:5000
NEXT_PUBLIC_INTERNAL_BROWSER_URL=https://www.google.com/
NEXT_PUBLIC_COMPANY_MAIL_URL=https://mail.google.com/mail
